<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKalipService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63650/KalipService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IKalipService" contract="KalipServiceReference1.IKalipService"
                name="BasicHttpBinding_IKalipService" />
        </client>
    </system.serviceModel>

  <connectionStrings>
    <add name="KalipDBEntities" connectionString="metadata=res://*/ModelKalip.csdl|res://*/ModelKalip.ssdl|res://*/ModelKalip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=KalipDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>